<div *ngIf="visible; else notEnable">
  <h2>{{title}}</h2>
</div>
<button (click)="setVisible()">
  {{visible? 'Ocultar' : 'Mostrar'}}
</button>
<div *ngIf="visible">
  <table *ngIf="(users != undefined && users.length > 0) else isEmpty">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as i">
      <td>{{i++1}}</td>
      <td>{{user}}</td>
    </tr>
  </tbody>
</table>
<ng-template #isEmpty>
  <p> Lista de usuarios no encontrada</p>
</ng-template>
</div>

<ng-template #notEnable>
  <h2>La lista de usuarios está desactivada</h2>
</ng-template>
