<button (click)="setVisible()">
  {{ visible ? "Ocultar" : "Mostrar" }}
</button>

@if (visible) {

  <h2>{{ title }}</h2>

@if (users != undefined && users.length > 0) {
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
        <tr >
          <td>{{ $index + +1 }}</td>
          <td>{{ user }}</td>
        </tr>
      }

    </tbody>
  </table>
} @else {
  <p> Lista de usuarios no encontrada</p>
}
} @else {

  <h2>La lista de usuarios está desactivada</h2>

}


<!-- <div *ngIf="visible; else notEnable">

</div>

<div *ngIf="visible">

<ng-template #isEmpty>

</ng-template>
</div>

<ng-template #notEnable>

</ng-template> -->
